body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FECACA;
    text-align : center;
}
#output,textarea {
    height : 25px;
    width: 200px;
    /* margin : 10px 0px; */
    background-color: white;
    text-align : center;
    font-size: 16px;
    border-radius : 5px 5px;
    border : 1px solid black;
    margin : auto;
}

header,footer {
    background-color : black;
    height : 30px;
    overflow : hidden;
    color:aliceblue;
    align-content: center;
    padding : 10px;
}

footer {

        position: absolute;
        bottom: 0;
        width: 100%;
       }

*{
    padding : 0;
    margin : 0;
}

button {
    color : white;
    background-color : black;
    margin : 25px 0px;
    padding : 5px;
    border-radius : 5px;

}

.content {
    margin: auto;
    vertical-align: middle;
    padding: 50px;
    font-size: larger
}

.header-text{
    padding-top : 5px;
}
